.logosDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logosindividualdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

.selectItem{
    border-width: 0px;
    font-size: 70%;
}

.margin-element{
    margin-right: 10px;
}
.logo{
    font-size: 100%;
    margin-left: 110px;
}
.image{
    width: 4vw;
}

.button{
    border-width: 0px;
    background-color: transparent;
}
.menuAndLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px){
    .person-icon{
        display: none;
    }
    .selectEngItem{
        display: none;
    }
    .md-buttons-headingPage{
        display: none;
    }
}
