.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttonDiv{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}