.headerButtons{
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: black;
    color: white;
    height: 10vh;
}
.bothbuttons{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.button{
    border-width: 0px;
    background-color: transparent;
    color: white;
}